<mat-sidenav position="end" fixedInViewport="true" #sidenav mode="push">

  <mat-accordion>













    <mat-expansion-panel *ngFor="let ch of this.pl.boardGame.characters  | keyvalue" style="width: 210px">
      <mat-expansion-panel-header>


        <mat-panel-title>
          <div style="height: 70px; vertical-align: middle; align-content: center" class="dfre">
            <img  src="./assets/{{ch.key}}.png" alt="Photo of a Shiba Inu" class="avatar3">

          </div>


        </mat-panel-title>
      </mat-expansion-panel-header>
      <b>{{ch.key}}</b>
      <div *ngIf="ch.value.loyalty && ch.value.loyalty.length > 0" class='{{ch.value.loyalty}}'><b>Loyalty:</b> {{ch.value.loyalty}}</div>
      <div *ngIf="ch.value.canSee && ch.value.canSee.length > 0" style="color: gold"><b>Can See:</b> {{ch.value.canSee}}</div>
      <div *ngIf="ch.value.canVote && ch.value.canVote.length > 0" style="color: deeppink"><b>Vote:</b> {{ch.value.canVote}}</div>
      <div *ngIf="ch.value.canVoteOnFlush && ch.value.canVoteOnFlush.length > 0" style="color: darkmagenta"><b>Flush Vote:</b> {{ch.value.canVoteOnFlush}}</div>
      <div *ngIf="ch.value.murderedBy && ch.value.murderedBy.length > 0" style="color: darkorange"><b>Murdered By:</b> {{ch.value.murderedBy}}</div>
      <div *ngIf="ch.value.murder && ch.value.murder.length > 0" style="color: chartreuse"><b>Murder:</b> {{ch.value.murder}}</div>
      <div *ngIf="ch.value.specialRole && ch.value.specialRole.length > 0" style="color: skyblue"><b>Special Role:</b> {{ch.value.specialRole}}</div>
    </mat-expansion-panel>
  </mat-accordion>


</mat-sidenav>
<mat-toolbar class="expanded-toolbar" style="background-color: greenyellow;">
    <span>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
<mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="authService.isAuthenticated" [disabled]="true">
              Connected as <b>{{authService.name}}</b>
            </button>
              <button mat-menu-item *ngIf="!authService.isAuthenticated" (click)="add()">
              Register
            </button>
                <button mat-menu-item *ngIf="this.pl.boardGame.state > 0" (click)="reset()" >
                Reset Game
              </button>

              <button mat-menu-item *ngIf="(!this.pl.boardGame.state || (this.pl.boardGame.state) == 0) && this.pl.boardGame.players && this.pl.boardGame.players.total > 0" (click)="create()" >
                Start Game
              </button>
              <button mat-menu-item *ngIf="authService.isAuthenticated" (click)="logout()">
                Logout
              </button>
</mat-menu>
    </span>



  <div fxLayout="row" fxShow="false" fxShow.gt-sm>

    <ng-container class="tab">
      <table >
        <tr>

          <td>
            <div  *ngIf= "(this.pl.boardGame.state && (this.pl.boardGame.state) != 0)" mat-card-avatar style="width: 60px; height: 60px;" class='{{this.pl.boardGame.secrets.character }}'></div>
          </td>
          <td style="font-size: 15px;">
            <ng-container  *ngIf= "(this.pl.boardGame.state && (this.pl.boardGame.state) != 0)"  style="font-size: 6px;" >
              <b> {{this.pl.boardGame.secrets.character}}</b>
            </ng-container>
            <ng-container  *ngIf= "(this.pl.boardGame.state && (this.pl.boardGame.state) != 0) && this.pl.boardGame.secrets.secrets"  style="font-size: 13px;" >
              , your secrets: {{this.pl.boardGame.secrets.secrets }}
            </ng-container>
          </td>

          <td width="100px">

          </td>
<td align="right"  >
  <div class="button1" align="right" style="align-content: flex-end">

    <button mat-stroked-button (click)="sidenav.toggle()">Other Roles</button>
    <mat-sidenav-container>


      <mat-sidenav-content>


      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

</td>






        </tr>
      </table>

    </ng-container>




  </div>













</mat-toolbar>

<div style="font-size: 11px; border-style: solid; border-color: darkorange; border-width: thin; background-color: gold; align-content: center; horiz-align: center; text-align: center" *ngIf="this.pl.boardGame && this.pl.boardGame.suggester != null && (this.pl.boardGame.state && ((this.pl.boardGame.state) == 2)) && this.authService.name != this.pl.boardGame.suggester">



    {{this.pl.boardGame.suggester}} is choosing players...  (<b>{{this.pl.boardGame.suggestedTemporaryPlayers}}</b>)




</div>

<div class="signin-content" *ngIf="!authService.isAuthenticated">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <p>Please login to continue</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User" formControlName="username" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>













<div class="app-content">
  <div>




    <div *ngIf="this.pl.boardGame && this.pl.boardGame.state && (this.pl.boardGame.state) == 6" class='div-orw'>

      <mat-card  class='div-orwgood'>
        <mat-card-header>
          <mat-card-title>Winning For Goods!
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="this.pl.boardGame && this.pl.boardGame.state && (this.pl.boardGame.state) == 7" class='div-orw'>

      <mat-card  class='div-orwbad'>
        <mat-card-header>
          <mat-card-title>Winning For Bads!
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="this.pl.boardGame && this.pl.boardGame.state && (this.pl.boardGame.state) == 10" class='div-orw'>

      <mat-card  class='div-orwga'>
        <mat-card-header>
          <mat-card-title>Winning For Gawain!
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>




    <div *ngIf="this.pl.boardGame && this.pl.boardGame.sir && (this.pl.boardGame.state && (this.pl.boardGame.state) == 1)" class='div-orw'>

      <mat-card  class='div-orw'>
        <mat-card-header>
          <mat-card-title>{{this.authService.name}}, Please Choose
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>


            <mat-radio-group aria-label="Select an option" [(ngModel)] = "this.assassinKill">

              <ng-container *ngFor="let ch of this.pl.boardGame.sir.options">


                <mat-radio-button value="{{ch}}">{{ch}}</mat-radio-button>


              </ng-container>
            </mat-radio-group>
          <button mat-button (click)="SirPick()">Choose!</button>



        </mat-card-content>
      </mat-card>
    </div>





    <div *ngIf="this.pl.boardGame && this.pl.boardGame.murder && (this.pl.boardGame.state && ((this.pl.boardGame.state) == 9 || (this.pl.boardGame.state) == 8)) && this.authService.name === this.pl.boardGame.murder.by" class='div-orw'>

      <mat-card  class='div-orw'>
        <mat-card-header>
          <mat-card-title>{{this.authService.name}}, Please Kill
            <ng-container *ngIf="this.pl.boardGame.murder.byCharacter === 'Assassin' else allrest">1 Player
            </ng-container>
            <ng-template #allrest >
              {{this.pl.boardGame.murder.target.length}} Players
            </ng-template>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <ng-container *ngIf="this.pl.boardGame.murder.byCharacter === 'Assassin'">
            Please choose character to kill:
            <mat-radio-group aria-label="Select an option" [(ngModel)] = "this.assassinKill">

            <ng-container *ngFor="let ch of this.pl.boardGame.murder.target">


                <mat-radio-button value="{{ch}}">{{ch}}</mat-radio-button>


            </ng-container>
            </mat-radio-group>

<br>
          </ng-container>

          <ng-container *ngFor="let player of this.pl.boardGame.players.all">

            <input [(ngModel)]="player.ch" type="checkbox">{{player.player}}

          </ng-container>
          <button mat-button (click)="Murder()">Kill!</button>



        </mat-card-content>
      </mat-card>
    </div>



    <div *ngIf="this.pl.boardGame && this.pl.boardGame.suggester && (this.pl.boardGame.state && ((this.pl.boardGame.state) == 2 || (this.pl.boardGame.state) == 5)) && this.authService.name === this.pl.boardGame.suggester" class='div-orw'>

      <mat-card  class='div-orw'>
        <mat-card-header>
          <mat-card-title>{{this.authService.name}}, Please Suggest {{this.pl.boardGame.results[this.pl.boardGame.current].numofplayers}} Players For Next Quest</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <ng-container *ngFor="let player of this.pl.boardGame.players.all">

            <input type="checkbox" [disabled]="!this.playersSuggestion.has(player.player) && maxNo" (change)="onChange(player.player, $event.target.checked)"/>{{player.player}}

          </ng-container>
          <button *ngIf="maxNo" mat-button (click)="Suggest()">Send</button>



        </mat-card-content>
      </mat-card>
    </div>


    <div *ngIf="(this.pl.boardGame.state && (this.pl.boardGame.state) == 3) && this.pl.showSuggestion && this.pl.boardGame.suggestedPlayers" class='div-orw'>
      <mat-card  class='div-orw'>
        <mat-card-header>
          <mat-card-title>{{this.pl.boardGame.suggester}} suggested on:
            <ng-container *ngFor="let player of this.pl.boardGame.suggestedPlayers">
              {{player}}
            </ng-container>

          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <button mat-mini-fab class="div-yes" (click)="SendGoodVote()"><mat-icon>thumb_up</mat-icon></button>

          <button class="div-no" mat-mini-fab (click)="SendBadVote()"><mat-icon>thumb_down</mat-icon></button>

        </mat-card-content>
      </mat-card>
    </div>


    <div *ngIf="(this.pl.boardGame.state && (this.pl.boardGame.state) == 4) && this.pl.boardGame.suggestedPlayers && this.pl.boardGame.suggestedPlayers.includes(this.authService.name) && (!this.pl.boardGame.PlayersVotedForCurrQuest || !this.pl.boardGame.PlayersVotedForCurrQuest.includes(this.authService.name))" class='div-orw'>
      <mat-card  class='div-orw'>
        <mat-card-header>
          <mat-card-title>Vote For Quest!</mat-card-title>
        </mat-card-header>

        <mat-radio-group aria-label="Select an option" [(ngModel)] = "journeyVote.vote">

            <ng-container>
              <mat-radio-button type="radio" name="success" value=1 display="none" id="pp" [disabled]="!this.pl.boardGame.optionalVotes.includes('Success')">
                <label for="pp">
                  <img src="./assets/Success_vote.png" width="120px"/>
                </label>
              </mat-radio-button>
            </ng-container>


            <ng-container>
              <mat-radio-button type="radio" name="reversal" value=2 display="none" id="pp2" [disabled]="!this.pl.boardGame.optionalVotes.includes('Reversal')">
                <label for="pp2">

                  <img src="./assets/Reversal_vote.png" width="120px"/>
                </label>
              </mat-radio-button>
            </ng-container>


            <ng-container>
              <mat-radio-button type="radio" name="fail" value=0 display="none" id="pp3" [disabled]="!this.pl.boardGame.optionalVotes.includes('Fail')">
                <label for="pp3">

                  <img src="./assets/Fail_vote.png" width="120px"/>
                </label>
              </mat-radio-button>
            </ng-container>

          <ng-container>
            <mat-radio-button type="radio" name="beast" value=3 display="none" id="pp4" [disabled]="!this.pl.boardGame.optionalVotes.includes('Beast')">
              <label for="pp4">

                <img src="./assets/Beast_vote.png" width="120px"/>
              </label>
            </mat-radio-button>
          </ng-container>

          <p><button mat-button (click)="JourneyVote()">Vote!</button></p>

        </mat-radio-group>
      </mat-card>

    </div>





    <div id="serviceBox" *ngIf="this.pl.boardGame.players && this.pl.boardGame.players.total > 0">
      <div class="serviceBox1">
        <div  class="bla">
          <mat-card class=''>
            <mat-card-title>Active Players ({{ this.pl.boardGame.players.total }})</mat-card-title>
            <mat-card-content>


              <mat-list>
              <mat-list-item *ngFor="let player of this.pl.boardGame.players.all">

<table>
  <tr>
    <td>
      <ng-container *ngIf="this.pl.boardGame.state && (this.pl.boardGame.state==6 || this.pl.boardGame.state==7) && this.pl.boardGame.playerToCharacters != null && this.pl.boardGame.playerToCharacters[player.player]; else rrr">

        <img matListAvatar src="./assets/{{this.pl.boardGame.playerToCharacters[player.player].ch}}.png" title="Photo of a Shiba Inu" [class.img-preview]="true">

      </ng-container>


      <ng-template #rrr >

        <ng-container *ngIf="this.pl.boardGame.secrets.goodplayers && this.pl.boardGame.secrets.goodplayers.includes(player.player); else vivianred">
          <img matListAvatar src="./assets/genericblue.png" title="Photo of a Shiba Inu" [class.img-preview]="true">
        </ng-container>

        <ng-template #vivianred >
          <ng-container *ngIf="this.pl.boardGame.secrets.badplayers && this.pl.boardGame.secrets.badplayers.includes(player.player); else allothers">
            <img md-list-icon matListAvatar src="./assets/genericred.png" title="Photo of a Shiba Inu" [class.img-preview]="true">
          </ng-container>

          <ng-template #allothers >
            <img md-list-icon matListAvatar src="./assets/generic.png" title="Photo of a Shiba Inu" [class.img-preview]="true">
          </ng-template>
        </ng-template>




      </ng-template>


    </td>

    <td style="vertical-align: middle">

       {{player.player}}


    </td>


    <td>

      <ng-container *ngIf="this.pl.boardGame.state > 0 && this.pl.boardGame.playerToCharacters && this.pl.boardGame.playerToCharacters[player.player].isKilled">
        <img src="./assets/gun.png" width="40px"/>
      </ng-container>
      <ng-container *ngIf="this.pl.boardGame && (this.pl.boardGame.suggesterVeto == player.player)">
        <img src="./assets/hammer.png" width="15px"/>
      </ng-container>
      <mat-icon matListIcon [ngStyle]="{'color':'blue'}" *ngIf="this.pl.boardGame && (this.pl.boardGame.state ==2 || this.pl.boardGame.state ==4) &&  this.pl.boardGame.PlayersVotedYesForSuggestion && this.pl.boardGame.PlayersVotedYesForSuggestion.includes(player.player); else downn">thumb_up</mat-icon>
      <ng-template #downn>
        <mat-icon matListIcon [ngStyle]="{'color':'red'}" *ngIf="this.pl.boardGame && (this.pl.boardGame.state ==2 || this.pl.boardGame.state ==4) && this.pl.boardGame.PlayersVotedNoForSuggestion && this.pl.boardGame.PlayersVotedNoForSuggestion.includes(player.player); else typing">thumb_down</mat-icon>
      </ng-template>
      <ng-template #typing>
        <mat-icon matListIcon *ngIf="this.pl.boardGame.state == 3 && ((!this.pl.boardGame.PlayersVotedYesForSuggestion || !this.pl.boardGame.PlayersVotedYesForSuggestion.includes(player.player)) && (!this.pl.boardGame.PlayersVotedNoForSuggestion || !this.pl.boardGame.PlayersVotedNoForSuggestion.includes(player.player))); else done">textsms</mat-icon>
      </ng-template>
      <ng-template #done>
        <mat-icon matListIcon *ngIf="this.pl.boardGame.state == 3 ">done</mat-icon>
      </ng-template>
      <mat-icon matListIcon [ngStyle]="{'color':'black'}" *ngIf="this.pl.boardGame && this.pl.boardGame.suggestedPlayers && this.pl.boardGame.suggestedPlayers.includes(player.player) && (this.pl.boardGame.state == 4 || this.pl.boardGame.state == 3)">directions_walk</mat-icon>


    </td>
  </tr>
</table>








              </mat-list-item>
                </mat-list>


            </mat-card-content>

          </mat-card>
        </div>
      </div>

      <div  class="serviceBox2" *ngIf="this.pl.boardGame.players.total > 0 && this.pl.boardGame.state > 0 && this.pl.boardGame.results != null">
        <div class="ddd">

          <mat-grid-list class="dddw" cols="7" rowHeight="170px" gutterSize="5px">

            <ng-container *ngFor="let quest of this.pl.boardGame.results | keyvalue">


              <mat-grid-tile [ngStyle]="{'font-size': '6px'}">
                <div class="container">

                  <mat-card class="dddw">
                    <mat-card-header class="dddww">
                      <mat-card-title class="dddww2">Quest {{quest.key}}</mat-card-title>
                      <mat-card-subtitle class="dddww" *ngIf="quest.value.ppp == '1'">Regular</mat-card-subtitle>
                      <mat-card-subtitle class="dddww" *ngIf="quest.value.ppp == '2'">Flush</mat-card-subtitle>
                      <mat-card-subtitle class="dddww" *ngIf="quest.value.ppp == '3'">Two Fails</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content [ngStyle]="{'font-size': '8px'}">
                      <ng-container *ngIf="!quest.value.final">
                        <img src="./assets/none-{{quest.value.numofplayers}}.png"
                        />

                      </ng-container>
                      <ng-container *ngIf="quest.value.final == 1">
                        <img src="./assets/fail.png" alt=' {{quest.value.failures}} Fails, {{quest.value.successes}} Success, {{quest.value.reversals}} Reversal, {{quest.value.beasts}} Beast'
                             title=' {{quest.value.failures}}  Fails, " {{quest.value.successes}} Success, {{quest.value.reversals}} Reversal, {{quest.value.beasts}} Beast'/>

                      </ng-container>

                      <ng-container *ngIf="quest.value.final == 2">
                        <img src="./assets/success.png" alt=' {{quest.value.failures}}  Fails,  {{quest.value.successes}} Success,  {{quest.value.reversals}} Reversal, {{quest.value.beasts}} Beast'
                             title=' {{quest.value.failures}}  Fails,  {{quest.value.successes}} Success,  {{quest.value.reversals}} Reversal, {{quest.value.beasts}} Beast'/>

                      </ng-container>

                    </mat-card-content>
                  </mat-card>
                </div>
              </mat-grid-tile>


            </ng-container>

          </mat-grid-list>




        </div>
      </div>


    </div>


    <div class="serviceBoxww">

      <table *ngIf="this.pl.boardGame.archive && this.pl.boardGame.state != 0" class="xxss">
        <tr>
          <b>Game Statistics</b>
        </tr>
        <tr class="xxssw">
          <td class="xxssw">Player</td>

          <td class="xxssw" *ngFor="let player of this.pl.boardGame.players.all">
            {{ player.player | limitTo: "10" }}

          </td>

          <td class="xxssw">Failures</td>

          <td class="xxssw">Reversal</td>

          <td class="xxssw">Succeses</td>

          <td class="xxssw">Beasts</td>
        </tr>

        <ng-container *ngFor="let questItem of this.pl.boardGame.archive" >
          <tr class="xxssw" [hidden]='(this.pl.boardGame.current != (questItem.questId | round)) && !questItem.isSuggestionAccepted && this.filterqu[questItem.questId | round]'>
            <td class="xxssw" (click)="FilterQuests(questItem.questId)" >

              <ng-container *ngIf="questItem.switch">
                <img src="./assets/switch.png" width="20px"/>
              </ng-container>
              {{questItem.questId}}</td>

            <ng-container *ngFor="let player of this.pl.boardGame.players.all">


            <td [ngClass]="{'green' : questItem.playersAcceptedQuest && questItem.playersAcceptedQuest.includes(player.player), 'red': questItem.playersNotAcceptedQuest && questItem.playersNotAcceptedQuest.includes(player.player)}" class="xxssw">
              <div>

                <ng-container *ngIf="questItem.suggestedPlayers && questItem.suggestedPlayers.includes(player.player)">
                  <img src="./assets/sword3.png" width="15px"/>
                </ng-container>

                <ng-container *ngIf="questItem.suggester.player == player.player">
                  <img src="./assets/leader.png" width="15px"/>
                </ng-container>

              </div></td>

            </ng-container>

            <td class="xxssw">
              <div>
                {{questItem.numberOfFailures}}
              </div>
            </td>

            <td class="xxssw">
              <div>
                {{questItem.numberOfReversal}}
              </div>
            </td>


            <td class="xxssw">
              <div>
                {{questItem.numberOfSuccesses}}
              </div>
            </td>

            <td class="xxssw">
              <div>
                {{questItem.numberOfBeasts}}
              </div>
            </td>
          </tr></ng-container>


      </table>


    </div>


  </div>
</div>
